[Desktop Entry]
Categories=Game;
Name=HMCL-3.5.dev-c6afd53
Comment=Hello Minecraft! Launcher
Type=Application
Exec="/usr/lib/jvm/java-17-openjdk-amd64/bin/java" -jar "/usr/local/hmcl/HMCL-3.5.dev-c6afd53.jar"
Icon=/usr/share/icons/hmcl/HMCL-3.5.dev-c6afd53.ico
StartupNotify=true
Terminal=false